html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.wrong {
    cursor: default;
    background: red;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;

}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    margin-right: 0px;
    display: inline-block;
}

.move{
    padding-right: 2px;
    margin-right: 0;
    width: 100px;
    display: inline-block;

}

.score-panel .time {
    //float: right;
    margin-left: 10px;
    padding-left: 10px;
    display: inline-block;

}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px;
    font-family: Arial,Helvetica,sans-serif;
}

.passed{
    font-size: 70px;
}

.congrats{
    font-size: 200%;
    font-weight:bolder;
}

.details{
    font-size: 120%;
}

p{
    padding-top: 0;
    margin-top: 0;
    text-align: center;
}

.replay{
    font-size: 120%;
    background: blue;
    color:white;
    font-weight:bolder;
}

@media screen and (min-width: 411px)and (max-width: 613px){
  .deck {
      width: 90%;
      min-height: 500px;
      padding: 1px;

    // min-height: 90%;
}
.deck .card {
   height: 70px;
    width: 60px;
  }

}

@media screen and (min-width: 358px)and (max-width: 410px){

.deck {
  width: 90%;
  min-height: 450px;
//  margin: 0 0 0em;
padding: 3px;
border-radius: 3px;
border: 5px solid yellow;
//justify-content: space-between;
//height: 500px;
}


.deck .card {
   height: 60px;
    width: 60px;
    border-radius: 8px;
    border: 5px solid red;
    padding-top: 0px;
    margin: 7px;
}

.container {
  //flex-direction: column;
  //flex-wrap: nowrap;

}

.score-panel {
    text-align: left;
    width: 300px;
  }

}

@media screen and (min-width: 320px)and (max-width: 357px){

.deck {
  width: 90%;
  min-height: 420px;
//  margin: 0 0 0em;
padding: 3px;
border-radius: 3px;
border: 5px solid yellow;
//justify-content: space-between;
//height: 300px;
}


.deck .card {
   height: 50px;
    width: 50px;
    border-radius: 8px;
    border: 5px solid red;
    padding-top: 0px;
    margin: 7px;
}

.container {
  //flex-direction: column;
  //flex-wrap: nowrap;

}

.score-panel {
    text-align: left;
    width: 80%;
    //font-size: 70%;
  }
  .move{
      padding-right: 2px;
      margin-right: 0;
      width: 70px;
      display: inline-block;

  }

  .score-panel .time {
      //float: right;
      margin-left: 5px;
      padding-left: 5px;
      display: inline-block;

  }

}
